$green-mana-url: "https://static.wikia.nocookie.net/mtgsalvation_gamepedia/images/8/88/G.svg";
$red-mana-url: "https://static.wikia.nocookie.net/mtgsalvation_gamepedia/images/8/87/R.svg";
$white-mana-url: "https://static.wikia.nocookie.net/mtgsalvation_gamepedia/images/8/8e/W.svg";
$blue-mana-url: "https://static.wikia.nocookie.net/mtgsalvation_gamepedia/images/9/9f/U.svg";
$black-mana-url: "https://static.wikia.nocookie.net/mtgsalvation_gamepedia/images/2/2f/B.svg";
$tap-url: '';
$one-mana-url: '';
$two-mana-url: '';
$three-mana-url: '';
$four-mana-url: '';
$five-mana-url: '';
$six-mana-url: '';