
button.color-identity {
    background-color: lightgrey;
    transition: .3s;

    &:not(.active) .mana-symbol {
        filter: grayscale(1);
    }

    &.green.active {
        background-color: green;    
    }
    &.red.active {
        background-color: red;    
    }
    &.white.active {
        background-color: palegoldenrod;    
    }
    &.blue.active {
        background-color: blue;    
    }
    &.black.active {
        background-color: purple;    
    }

}