::ng-deep body {
    margin: 0 !important;
    padding: 0;
}

@font-face {
    font-family: 'Beleren';
    src: url('../assets/Beleren.ttf') format('truetype');
}

.page-container {
    padding: 24px;
    min-height: calc(100dvh - 48px);
    max-height: calc(100dvh - 48px);
    position: relative;

    &::before {
        content: '';
        background: url('../assets/background1.png') no-repeat;
        background-size: cover;
        position: absolute;
        inset: 0 0 0 0;
        z-index: -1;
        opacity: .6;
    }

    
}

.title {
    font-family: Beleren, sans-serif;
    font-size: 1.3rem;
    line-height: 32px;
}

.header {
    border-bottom: 1px solid #00000090;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3px;
}

.section-header {
    text-align: center;
    font-family: 'BELEREN';
    font-size: 1.3rem;
    background-color: #000000aa;
    color: white;
    border: solid yellow 1px;
    padding: 5px;

    &.deck-list-header {
        padding: 5px 10px
    }
}

textarea {
    position: relative;
    height: 50%;
    resize: none;
    outline: none;

    &::before {
        content: '';
        background: url('../assets/logo-transparent.png') no-repeat;
        background-size: cover;
        position: absolute;
        opacity: 0.4;

    }
}

.hover-darken {
    &:hover {
        filter: brightness(.9);
    }

    &:active {
        filter: brightness(.8);
    }
}

button.parse-button {
    margin-top: .5rem;
    color: white;
    font-weight: bold;
    background-color: #31319d;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    img {
        height: 17px;
        filter: brightness(20);
        vertical-align: text-bottom;
    }
}

.preview-container {
    border: yellow solid 1px;
    overflow: hidden;
    margin-top: 10px;

    .section-header {
        background-color: #00000090;
        border: none;
        border-bottom: yellow solid 1px;
    }

    .tag-container {
        background-size: 150%;
        background-position: 25% -125px;
        background-color: rgba(255, 255, 255, 0.2);
        background-blend-mode: overlay;
        overflow: auto;

        .preview-description {
            margin-left: 1rem;
            padding: 5px; 
            white-space: pre-wrap;
        }

        .tags {
            gap: 5px;
            padding: 10px;
        }
    }
}

.deck-stats-column {
    margin-right: 26px; 

    .deck-top-tags {
        padding: 12px;
        background-color: #00000080;
        border: 1px solid yellow;
        border-top: none;
        gap: 10px;
    }
}



.tag {
    animation: slideInRight .3s ease-out;
    animation-fill-mode: both;
    border: 1px solid #00000040;
    border-radius: 4px;
    margin: 0 0.5rem;
    background-color: #ffe924;
    padding: 5px;
    line-height: 24px;
    cursor: pointer;
    transition: .3s;

    &:hover, &:focus-visible {
        filter: brightness(.8);
    }

    &:active {
        filter: brightness(0.7);
    }

    &.active {
        background-color: #66ff6680;
        border-color: gold;
    }

    &.unhelpful {
        background-color: #bbbbbb;
        border-color: grey;
    }

    mat-icon {
        font-size: 11px;
        width: auto;
        height: auto;
    }
}

.send-to-search {
    background-color: rgba(102, 255, 102, 0.5019607843);
    border-radius: 0 4px 4px 0;
    border: 1px solid gold;
    margin-left: -10px;
    border-left: none;
    cursor: pointer;
}

.previewCardListToggle {
    background-color: #00000090;
    color: white;
    border: 2px solid #ffff00;
    margin-top: 1rem;
    padding: 16px;
    font-size: 20pt;
    text-align: center;
    cursor: pointer;
}

.sort-row {
    margin: 0 0 0 0;
    padding: 8px 16px;
    background-color: #444;
    border: #ffff00 1px solid;
    border-top: none;
    gap: 10px;
    color: white;

    mat-icon {
        margin: auto inherit;
    }

    button {
        background:#303547; 
        color: white;
        font-weight: bold;

        &.active {
            background: #415abd;
        }
        
        &:not(.active) {
            mat-icon {
                display: none;
            }
        }
    }

    .left-container {
        gap: 5px;
    }
}

.tag-row {
    margin: 0 0 0 0;
    padding: 8px 16px;
    background-color: #555;
    border: #ffff00 1px solid;
    border-top: none;
    gap: 10px;
    color: white;

    
    .search-tag {
        border: solid #00000090 1px;
        border-radius: 10px;
        margin: 0 5px;
        padding: 2px;
        background-color: #ccc;
        cursor: pointer;
        color: #a000a0;

        &:hover, &:focus-visible {
            background-color: #ddd;
            text-decoration-line:  line-through;
            text-decoration-thickness: 2px;
            text-decoration-color: #ff000090;
        }

        &:active {
            background-color: #bbb;
        }
    }
}

.navbar {
    background-color: #00000080;
    padding: 16px;
    border: solid thin #ffff00;
    border-radius: 2px;
    position: relative;

    img {
        filter: brightness(100);
    }

    .title {
        margin-left: 5px;
    }

    .app-mode {
        border: none;
        background-color: transparent;
        font-family: 'BELEREN';
        color: white;

        &.active {
            color: gold;
        }
    }
}

.app-loading-spinner {
    animation: hueShift 10s infinite;
    position: absolute;
    inset: 50% 50% 50% 50%;
    stroke: #e320a5;
    z-index: 9999; 

    &::before {
        animation: growShrink 1s infinite alternate;
        content: '';
        background-image: url('../assets/logo-transparent.png');
        position: absolute;
        inset: 0 0 0 0;
        background-size: cover;
    }
}


@keyframes hueShift {
    0% { filter: hue-rotate(0deg) }
    50% { filter: hue-rotate(180deg) }
    100% { filter: hue-rotate(360deg) }
}

@keyframes growShrink {
    from { transform: scale(.7); filter: blur(1px) }
    to { transform: scale(1); filter: blur(0)}
}

@keyframes slideInRight {
    from { opacity: 0; transform: translateX(-100%) }
    to { opacity: 1; transform: translate(0);}
    
}

.chart {
    height: 400px;
  }

.top-tags-container {
    background-color: #444;
    padding: 16px;
    margin: 0;
    border: 2px gold solid;
    border-top: none;
}

.filler-card {
    background-color: white;
    box-shadow: 2px 2px 10px #00000040;
}

.workspace-container {
    margin-top: 10px;
    height: 100%;
    gap: 5px;
}

$button-toggle-height: 24px;
::ng-deep .mat-button-toggle {
    height: $button-toggle-height;
    font-size: 12px;

    button {
        height: $button-toggle-height;
    }

    .mat-button-toggle-label-content {
        line-height: $button-toggle-height;
    }

    mat-icon {
        font-size: 14px;
        width: auto;
        height: auto;
        line-height: 14px;
        vertical-align: text-top;
    }
}

::ng-deep .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    background-color: #31319d;
    color: white;
    transition: .3s ease-out;
}

.my-card-list {
    border: yellow 1px solid;
    border-top: none;;
    background-color: #00000080;
    overflow: auto;
    min-height: 125px;

    &.fullheight {
        max-height: calc(100vh - 163px);
    }

    .card-entry {
        padding: 5px;
        border-bottom: yellow 1px solid;
        color: white;

        &:hover, &:focus-visible {
            filter: brightness(1.2);

            .my-list-card-image {
                transform: scale(1.1);
            }

        }

        .card-description {
            padding: 10px;
        }
    }
    

    .my-list-card-image {
        transition: 0.2s;
        height: 100px;
        cursor: pointer;
    }
}

.deck-list-stats {
    background-color: rgba(0, 0, 0, 0.6666666667);
    color: white;
    border: solid yellow 1px;
    padding: 2px 10px;
    border-top: none;

    .tag {
        font-size: 11px;
        color: black;
        line-height: 11px;

        &:hover, &:focus-visible {
            background-color: #ddd;
            text-decoration-line:  line-through;
            text-decoration-thickness: 2px;
            text-decoration-color: #ff000090;
        }

        mat-icon {
            font-size: 11px;
            width: auto;
            height: auto;
        }
    }

}

::ng-deep .app-card-explorer {
    .grid-container {
        max-height: calc(100vh - 310px);
        overflow: auto;
    }
}

.user-inputs-column {
    overflow: hidden;
    max-height: calc(100vh - 124px);
    gap: 10px;
}

.load-more {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.full-screen {
    flex-basis: 100%;
}