::ng-deep body {
    margin: 0 !important;
    padding: 0;
}

@font-face {
    font-family: 'Beleren';
    src: url('../assets/Beleren.ttf') format('truetype');
  }

.page-container {
    padding: 24px;
    min-height: 100lvh;

    .background {
        background: url('../assets/background1.png') no-repeat;
        background-size: cover;
        width: calc(100% + 10px);
        height: calc(100% + 60px);
        top: -10px;
        left: -10px;
        position: absolute;
        z-index: -1;
        opacity: .7;

        &::before {
            background: linear-gradient(180deg,rgba(255,245,255,.5) 0,rgba(255,245,255,.85) 50%,#ffffff);
            bottom: 0;
            content: "";
            display: block;
            left: 0;
            position: absolute;
            right: 0;
            opacity: .5;
            top: 0;
        }
    }

    
}

.title {
    font-family: Beleren, sans-serif;
    font-size: 1.3rem;
    line-height: 32px;
    margin-left: 1rem;
}

.white {
    color: white;
}

.accent {
    color: #e320a5;
}

.w25 {
    flex-basis: 25%;
    max-width: 20%;
}

.w50 {
    flex-basis: 50%;
}

.w75 {
    flex-basis: 75%;
}

.m16 {
    margin: 16px;
}

textarea {
    height: 200px;
    position: relative;

    &::before {
        content: '';
        background: url('../assets/logo-transparent.png') no-repeat;
        background-size: cover;
        position: absolute;
        opacity: 0.4;

    }
}

.hover-darken {
    &:hover {
        filter: brightness(.9);
    }

    &:active {
        filter: brightness(.8);
    }
}

button.parse-button {
    margin-top: 1rem;
    color: white;
    background-color: #6666ff;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-align-center {
    justify-content: center;
    text-align: center;
}

.flex-align-start {
    justify-content: start;
    text-align: start;
}

.flex-align-right {
    justify-content: end;
    text-align: right;
}

.grid-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: -10px -24px;
    padding: 10px;
    background: url('../assets/background2.png') no-repeat;
    background-size: cover;

    &::before {
        z-index: 0;
        position: absolute;
        content: '';
        inset: 0 0 0 0;
        background-color: #ffffffaa;
    }

    img {
        z-index: 1;
    }
  }

.widthfull {
    max-width: 75%;
}

img.card {
    max-width: 175px;
    margin: auto;
    cursor: pointer;
    transition: .3s ease-out;

    &:hover, &:focus-visible {
        transform: scale(1.05);
        box-shadow: 0 0 10px #00000040;
    }

    &:active {
        transition: .1s;
        transform: scale(1);
    }
}

.card-container {
    margin: 1rem;
    z-index: 1;
    position: relative;

    .card-tags {
        position: absolute;
        inset: 0 0 0 0;
        z-index: 1;
        gap: 5px;

        .tag {
            background-color: #ffff66cc;
        }
    }
}

.preview-container {
    margin-left: 1rem;    

    .preview-description {
        margin-left: 1rem;
        padding: 5px; 
    }
}

.previewCardListToggle {
    background-color: #00000090;
    color: white;
    border-block: 2px solid #ffff00;
    margin: 10px -24px;
    padding: 5px;
    font-size: 20pt;
    text-align: center;
    cursor: pointer;
}

.sort-row {
    margin: -10px -24px 10px -24px;
    padding: 16px;
    background-color: #444;
    border-bottom: #ffff00 1px solid;
    gap: 10px;

    button {
        background:#98cae7; 
    }
}

.tag {
    animation: slideInRight .3s ease-out;
    animation-fill-mode: both;
    border: 1px solid #00000040;
    border-radius: 4px;
    margin: 0 0.5rem;
    background-color: #ffff6660;
    padding: 5px;
    cursor: pointer;

    &:hover, &:focus-visible {
        filter: brightness(.8);
    }

    &:active {
        filter: brightness(0.7);
    }
}

.color-column {
    padding: 1rem;
}

.navbar {
    background-color: #00000080;
    padding: 16px;
    border: solid thin #ffff00;
    border-radius: 2px;
    position: relative;

    img {
        filter: brightness(100);
    }

    .title {
        margin-left: 5px;
    }
}

.app-loading-spinner {
    position: absolute;
    inset: 50% 50% 50% 50%;
    stroke: #e320a5;
}

@keyframes slideInRight {
    from { opacity: 0; transform: translateX(-100%) }
    to { opacity: 1; transform: translate(0);}
    
}