<mat-spinner class="app-loading-spinner" *ngIf="appIsLoading"></mat-spinner>
<div class="page-container flex-column">
  <div class="background"></div>
  <!-- Navbar -->
  <div class="flex-row flex-align-start navbar">
    <img src="../assets/logo-transparent.png" height="32px" />
    <div class="title white">MTG: Deck Optimizer</div>
  </div>
  
  <!-- top card preview row -->
  <div class="flex-row m16">
    <div class="flex-column w25">
      <textarea [(ngModel)]="deckList" placeholder="Enter your decklist"></textarea>
      <button class="hover-darken parse-button" (click)="parseDeckList()">Parse Decklist</button>
    </div>
    <!-- color picker col -->
    <div class="flex-column color-column">
      <div class="title">Color Identity</div>
      <mat-checkbox color="primary" [(ngModel)]="colorIdentity['G']">
        <span class="mana-symbol green"></span>Green
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="colorIdentity['R']">
        <span class="mana-symbol red"></span>Red
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="colorIdentity['W']">
        <span class="mana-symbol white"></span>White
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="colorIdentity['U']">
        <span class="mana-symbol blue"></span>Blue
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="colorIdentity['B']">
        <span class="mana-symbol black"></span>Black
      </mat-checkbox>
    </div>
    <div *ngIf="previewCard" class="flex-row flex-align-end preview-container">
      <!-- Preview card image -->
      <div class="flex-column">
        <img class="preview-card card" [src]="previewCard['image_uris']['small']" />
      </div>
      <div class="flex-column preview-description">
        <h2>{{previewCard.name}}</h2>
        <h3>{{previewCard.type_line}}</h3>
        <h3>{{previewCard.oracle_text}}</h3>

        <!-- Tags -->
        <div class="flex-row">
          <ng-container *ngFor="let tag of compressAllCardTags(previewCardTagList); let i=index" >
            <div class="tag" style="animation-delay: {{i * 10}}ms"  (click)="onTagClick(tag)" [ngClass]="{'active': selectedTags.includes(tag)}">
              {{tag}}
            </div>
           
           
          </ng-container>
        </div>

      </div>
    </div>
  </div>

  <!-- Deck stats -->

  <!-- <div #echart echarts [options]="chartOptions" class="chart"></div> -->
  <!-- Related cards by tag -->
  <div *ngIf="cardsToDisplay.length > 0 || activeFilters.length > 0">
    <ng-container *ngIf="relatedCardsByTag.length > 0">
      <div class="previewCardListToggle hover-darken title" (click)="displayRelatedCards = !displayRelatedCards">
        Related Cards By Tag:
        <span class="accent hover-darken" *ngFor="let selectedTag of selectedTags" (click)="onTagClick(selectedTag);$event.stopPropagation()">
          {{ selectedTag }}
        </span> 
        -- Limited to colors: {{lastSearchedColors}} <mat-icon>{{displayRelatedCards ? 'arrow_drop_down' : 'arrow_drop_up'}}</mat-icon>
      </div>
      <div class="sort-row flex-row" *ngIf="displayRelatedCards">
        <div class="white">{{relatedCardsByTag.length}} cards </div>
        <button mat-raised-button color="primary" (click)="sortRelatedBy($event)" value="name">Name</button>
        <button mat-raised-button color="accent" (click)="sortRelatedBy($event)" value="cmc">CMC</button>
        <button mat-raised-button (click)="sortRelatedBy($event)" value="color">Color</button>
      </div>
      <div class="grid-container flex-row flex-wrap" *ngIf="displayRelatedCards">
        <div class="card-container" *ngFor="let relatedCard of relatedCardsByTag">
          <img class="card card-container" *ngIf="relatedCard && relatedCard['image_uris'] && relatedCard['image_uris']['small']" [src]="relatedCard['image_uris']['small']" 
            (click)="previewCard = relatedCard; onCardClick()" />
          <div class="flex-column flex-align-center card-description">
            <div>{{ relatedCard.name }}</div>
            <div>{{ relatedCard.type_line }}</div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Deck Card List -->
    <div class="previewCardListToggle hover-darken flex-align-center flex-row" (click)="displayCardList = !displayCardList">
      <div class="title">Card List <mat-icon>{{displayCardList ? 'arrow_drop_down' : 'arrow_drop_up'}}</mat-icon></div>
    </div>
    <div *ngIf="topTags.length > 0 && displayCardList" class="flex-column top-tags-container">
      <div class="title white">Top Deck Tags (10)</div>
      <div class="flex-row gap-10">
        <div
          *ngFor="let tag of topTags"
          [ngStyle]="{'font-size': tag.instances + 10 + 'px'}"
          class="tag"
          (click)="filterDeckByTag(tag.key)"
          [ngClass]="{'active': activeFilters.includes(tag.key)}">
          {{ tag.key }} | {{ tag.instances }}
        </div>
      </div>
    </div>

    <div *ngIf="displayCardList" class="grid-container flex-row flex-wrap" >
      <div *ngFor="let card of cardsToDisplay" class="flex-column card-container" tabindex="0"
        (mouseover)="card.showingTags = true" (mouseleave)="card.showingTags = false" (focus)="card.showingTags = true" (blur)="card.showingTags = false">
        <img class="card" *ngIf="card && card['image_uris'] && card['image_uris']['small']" [src]="card['image_uris']['small']" (click)="previewCard = card; onCardClick()" />
        <div class="flex-column flex-align-center card-description">
          <div>{{ card.name }}</div>
          <div>{{ card.type_line }}</div>
        </div>
        <!-- Card tags: Only show on hover -->
        <!-- <div class="card-tags" *ngIf="card.showingTags" >
          <div *ngFor="let tag of card.tags; let i=index">
            <div class="tag" *ngIf="tag['tag']['namespace'] === 'card'" style="animation-delay: {{i * 10}}ms">
              {{tag['tag']['slug']}}
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>