@import '../app.component.scss';

.grid-container {    
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--preview-card-size) + 10px), 1fr));
    gap: 24px;
    margin: 0;
    padding: 24px;
    background-color: #999;
    border: 2px var(--border-color) solid;
    border-top: none;
    background: #777 url(../../assets/grey-wave-background.png) repeat;
    background-blend-mode: exclusion;


    img {
        z-index: 1;
    }
}

img.card, img.card-shadow {
    max-width: 225px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
    transition: .1s ease-out;
    box-shadow: 0px 0px 30px #000000b0;
    transform: translateZ(0);

    
    position: absolute;
    transform-style: preserve-3d;
   
    outline: 2px solid #000; /* Add an outline */    

    inset: 0 0 0 0;

    &:hover, &:focus-visible {
        box-shadow: 0 0 10px #00000040;
    }

    &:active {
        transition: .1s;
        scale: .9;
    }
}

.card-shadow {
    opacity: 0.5;
}

.card-container {
    margin: 1rem;
    z-index: 1;
    position: relative;
    height: calc(var(--preview-card-size) * 1.255);

    perspective: 1000px;
    .card-tags {
        position: absolute;
        inset: 0 0 0 0;
        z-index: 1;
        gap: 5px;

        .tag {
            background-color: #ffff66cc;
            cursor: help;
        }
    }

    .link-container {
        animation: fadeIn 0.3s ease-in-out;
        position: absolute;
        bottom: 0;
        display: none;
        z-index: 1;
    }

    &:hover {
        .link-container {
            display: block;
        }
    }

    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }        
    }
}

.card-description {
    background-color: #ffffaa30;
    margin-top: 0px;    
    font-size: calc(var(--preview-card-size) / 13);
    border-radius: 10px;
}
