@import '../../_variables.scss';
@import '../model/mana-symbols.scss';

.section-header {
    text-align: center;
    font-family: 'BELEREN';
    font-size: 1.3rem;
    background-color: $black-background-transparent;
    color: white;
    border: solid yellow 1px;
    padding: 5px;

    &.deck-list-header {
        padding: 5px 10px
    }
}

.optimize-container {
    background-color: $black-background-transparent;
    border: 1px solid var(--border-color);
    overflow:auto;
    
    .mana-curve-charts {
        padding: 24px;
        gap: 24px;
        .chart-container {
            background-color: #00000080;
            border: 1px solid var(--border-color);
            
            .chart-header {
                font-size: 1.4rem;
                color: var(--border-color);
                text-align: center;
                font-family: 'BELEREN';
                padding: 12px 0;
                
            }
            
            .chart {                
                display: flex;

                div {
                    align-self: center;
                }
            }

            .legend {                
                font-family: 'BELEREN';
                font-size: 1.2rem;
                padding: 12px 0;
                border-top: 1px solid var(--border-color);
                justify-content: center;
                gap:10px;
                padding: 10px;

                .legend-item {
                    background-color: #ffffff40;
                    border-radius: 4px;
                    border: 1px solid var(--border-color);
                    color: var(--border-color);
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;

                    &:hover, &:focus-visible {
                        background-color: #ffffff50;
                    }
                    
                    .key, .value {
                        padding: 5px;                        
                    }

                    .key {
                        border-right: 1px solid var(--border-color);                        
                    }

                    .value {
                        color: $app-accent-light;
                    }
                }

                .suggestion-label {
                    text-align: center;
                }
            }
        }
    }

    .missing-tags {
        padding: 12px;
        color: red;
        font-size: 24px;
        font-family: 'BELEREN';
        background-color: $black-background-transparent-dark;
        text-align: center;
    }
}



