<div class="optimize-container flex-column flex-grow">
  <div class="section-header flex-row flex-align-space-between ">
    Deck Optimizer
  </div>

  <div class="missing-tags" *ngIf="missingHighValueTags.length > 0">
    <p>Warning: Your deck is missing any cards with the following tags: {{ missingHighValueTags.join(', ') }}</p>
  </div>

  <div class="mana-curve-charts flex-row flex-grow">
    <!-- Your deck curve -->
    <div class="chart-container my-deck flex-grow">
      <div class="chart-header">Your deck</div>
      <div #echart echarts [options]="chartOptions" class="chart flex-column flex-grow"></div>
      <div class="legend flex-row flex-wrap">
        <button *ngFor="let item of manaCurve | keyvalue" class="legend-item" (click)="onCmcButtonClick(item.key)" matTooltip="Filter decklist by cmc">
          <div class="key">
            {{ item.key !== 'land' ? 'CMC ' + item.key : item.key }}
          </div>
          <div class="value">
            {{ item.value }}
          </div>
        </button>
      </div>
    </div>

    <!-- Preferred deck curve -->
    <div class="chart-container preferred-deck flex-grow">
      <div class="chart-header">Preferred deck {{ '(60 Cards)' }}</div>
      <div #echart echarts [options]="optimalChartOptions" class="chart flex-column flex-grow"></div>
      <div class="legend flex-row flex-wrap">
        <button *ngFor="let item of deckOptimalCurve | keyvalue" class="legend-item" (click)="onCmcButtonClick(item.key)" matTooltip="Filter decklist by cmc">
          <div class="key">
            {{ item.key !== 'land' ? 'CMC ' + item.key : item.key }}
          </div>
          <div class="value">
            {{ item.value }}
          </div>
        </button>
      </div>
    </div>    
  </div>
</div>
